.hero--container {
    width: 100%;
    height: 100vh;

    padding: 4em;

    display: flex;
    flex-direction: column;

    .hero--content {
        width: 100%;
        height: calc(100% - 15%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-image: url('./img/hero-background.jpg');
        background-size: cover;
        background-position: center;

        border-radius: 4em;

        position: relative;

        &::before {
            content: '';

            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            border-radius: 4em;
            
            background-color: rgba(0, 0, 0, 0.3);
        
            z-index: 1;
            
        }

        .hero--content--title {
            width: 100%;

            font-size: 6em;
            text-align: center;

            color: #fff;

            z-index: 100;

            & > span {
                color: #EA9D2B;
            }

        }

        .hero--content--text {
            width: 70%;

            font-size: 1.2em;
            text-align: center;
            text-wrap: balance;
            line-height: 1.5em;

            color: #fff;

            z-index: 100;
        }

        .hero--content--button {
            width: 30%;
            
            margin-top: 2em;
            padding: 2em;

            border: none;
            border-radius: .8em;

            background-color: #EA9D2B;
            color: #fff;
            
            cursor: pointer;

            font-family: inherit;
            font-size: 1.1em;

            z-index: 100;
        }
    }
}